[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
