name: Publish Python distributions to PyPI and TestPyPI

on: push

jobs:
  build-n-publish:
    name: Build and publish Python distributions to PyPI and TestPyPI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Pipenv
        run: >-
          python -m
          pip install pipenv

      - name: Install project dependencies
        run: >-
          pipenv install --dev

      - name: Run unit tests
        run: >-
          pipenv run pytest

      - name: Lint code
        run: >-
          pipenv run flake8 pycolormap_2d

      - name: Type-check code
        run: >-
          pipenv run python -m mypy pycolormap_2d

      - name: Install build tools
        run: pipenv run pip install build

      - name: Build distribution
        run: pipenv run python -m build

      - name: Build documentation
        run: >-
          pipenv run sphinx-build -b html docs/source docs/build_html

      - name: "On `main`: Publish distribution to Test PyPI"
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TESTPYPI_GITHUB_CI_CD_DEPLOY_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: "On `tag`: Deploy Sphinx documentation to GitHub pages"
        if: ${{ startsWith(github.ref, 'refs/tags') }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build_html

      - name: "On `tag`: Publish distribution to PyPI"
        if: ${{ startsWith(github.ref, 'refs/tags') }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_GITHUB_CI_CD_DEPLOY_TOKEN }}